* {
    box-sizing: border-box;
    border: 1px solid blue;
}

@font-face {
    font-family: 'London Tube Normal';
    font-style: normal;
    font-weight: normal;
    src: local('London Tube Normal'), url('../Fonts/london-tube-cufonfonts-webfont/London-Tube.woff') format('woff');
    }

    /* NAVBAR:  */
#navbar {
    display: flex;
    width: 100%;
    justify-content: center;
    border: 1px solid red;
    height: 55px;
    position: fixed;
    /* top: -55px; */
    top: 0;
    transition: top 1s;
    z-index: 10;
}
#navbar ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: gray;
    align-items: center;
    height: 100%;
}
#navbar li {
    display: inline-flex;
    padding: 0px 20px;
    width: 25%;
    justify-content: center;
}
#navbar a {
    font-family: "London Tube Normal";
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color:black;
    text-shadow: 2px 1px 0px green;
}
/* PROFILE PIC:  */
#myVideo {
    object-fit: fill;
    opacity: .3;
    transform:rotate(180deg);
  }
  #smoke {
    display: flex;
    /* height: 420px; */
    height: 35rem;
    width: 30%;
    margin: 100px auto;
    background: url(../Images/black\ and\ white.jpeg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border: 3px solid black;
    border-radius: 3px;
    margin-right: 100px;
  }
/* ELEVATOR PITCH:  */
#elevator * {
    border: 1px solid red;
}
#elevator {
    width: 50%;
    height: 310px;
    overflow: hidden;
    border: 1px solid red;
    display: flex;
    justify-content: left;
    position: fixed;
    top: 55px;
    padding-top: 45px;
}
#elevatorArt{
   object-fit: fill;
}
#pitch  {
    border: 1px solid purple;
    width:100%;
}
.underground {
    font-family: "London Tube Normal";
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}

/* PROJECT SECTION:  */
    /* Project container */
#projects {
    width: 50%;
    float: right;
    border-left: 1px solid black;
    padding-left: 1rem;
}
#projects h2 {
    font-family: "London Tube Normal";
    font-size: 2.25rem;
}
    /* Individual Projects  */
.project * {
    border: 1px solid green;
}
.project {
    display: grid;
    grid-template-columns: 33% 67%;
    grid-template-rows: repeat(3, 2rem) 2rem repeat(2, 10rem);
    gap: .5rem;
    margin-top: 44px;
    justify-items: center;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    grid-auto-rows: 2rem repeat(2, 10rem);
    grid-auto-flow: row;
    grid-template-areas:
    "title abstract"
    "github  abstract"
    "liveProject  keySkills"
    "notes screenshot"
    "annotations screenshot"
    "annotations screenshot";
}
.pGithub {
    grid-area: github;
}
.pLive {
    grid-area: liveProject;
}
.pAbstract {
    grid-area: abstract;
}
.pSkills {
    grid-area: keySkills;
    width: 100%;
    /* padding: 0 .5rem; */
    display: flex;
    justify-content: space-between;

}
.pNotes {
    grid-area: notes;
}
.pAnnotations {
    grid-area: annotations;
    display: flex;
    align-items: center;
}
.pAnnotation li {
    padding: 1em;
}
.pScreenshot {
    grid-area: screenshot;
    display: flex;
    align-items: flex-end;
}
.pScreenshot img {
    width: 100%;
}

.project h3 {
    font-family: "London Tube Normal";
    font-size: 1.75rem;
}
.project h4 {
    font-family: "London Tube Normal";
    font-size: 1.25rem;
}