    /* NAVBAR:  */
    #navbar {
        display: flex;
        width: 100%;
        justify-content: center;
        /* border: 1px solid red; */
        height: 55px;
        position: fixed;
        /* top: -55px; */
        top: 0;
        transition: top 1s;
        z-index: 10;
    }
    #navbar ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
        background-color: hsla(0, 0%, 0%, 0.5);
        align-items: center;
        height: 100%;
    }
    #navbar li {
        display: inline-flex;
        padding: 0px 20px;
        width: 25%;
        justify-content: center;
    }
    #navbar a {
        /* font-family: "London Tube Normal"; */
        /* font-family: 'Patua One', cursive; */
        /* font-weight: 900; */
        font-family: 'Staatliches', cursive;
        font-size: 2rem;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        color:black;
        text-shadow: 1px 1px 0px white;
    }